<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Game Name</th>
      <th>Category</th>
      <th>Nominal</th>
      <th>Image</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i < voucher.length; i++){ %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= voucher[i].name %></td>
      <td><%= voucher[i].category.name ?? '-' %></td>
      <td>
        <% voucher[i].nominals.forEach(nominal => { %>
        <span class="badge badge-warning">
          <%= nominal.coinQuantity %> <%= nominal.coinName %>
        </span>
        <% }) %>
      </td>
      <td><img class="img-fluid" style="max-height: 200px;" src="uploads/<%= voucher[i].thumbnail %>" alt=""></td>
      <td>
        <% if(voucher[i].status === 'Y'){ %>
        <span class="badge badge-success">
          Active
        </span>
        <% }else{%>
        <span class="badge badge-danger">
          Inactive
        </span>
        <% } %>
      </td>
      <td>
        <form action="/voucher/status/<%= voucher[i]._id %>?_method=PUT" method="POST" class="d-inline-block">
          <% if(voucher[i].status === 'Y'){ %>
          <button class="btn btn-primary">
            <i class="fas fa-eye-slash"></i> 
            Inactive
          </button>
          <% }else{%>
            <button class="btn btn-primary">
              <i class="fas fa-eye"></i> 
              Active
            </button>
          <% } %>
        </form>
        <a href="/voucher/edit/<%= voucher[i]._id %>" class="btn btn-info">
          <i class="nav-icon fas fa-pencil-alt"></i>
          Edit
        </a>
        <form action="/voucher/delete/<%= voucher[i]._id %>?_method=DELETE" method="POST" class="d-inline-block">
          <button class="btn btn-danger">
            <i class="nav-icon fas fa-trash-alt"></i>
            Delete
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
      <th>No.</th>
      <th>Game Name</th>
      <th>Category</th>
      <th>Nominal</th>
      <th>Image</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>